body {
  background-color: #dc0759;
}
h4,
h1 {
  text-align: center;
  color: rgb(255, 254, 251);
}
section {
  width: 70%;
  height: 300px;
  margin-top: 50px;
  margin-left: 15%;
  border-radius: 4px;
  background-color: #ffffff;
}
.icons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* Reset default list styles */
.iconsSkills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Display list items horizontally */
.iconsSkills ul li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
}

/* Center icons and text within each list item */
.iconsSkills ul li img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 30px;
}

.iconsSkills ul li span {
  display: block; /* Ensure text appears below the image */
  text-align: center;
  margin-top: 5px; /* Adjust spacing between image and text as needed */
  margin-left: 30px;
}



.icons img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
h2 {
  margin-left: 45px;
}
.intro {
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.intro img {
  width: 200px;
  height: 150px;
}
.img-para {
  display: flex;
  column-gap: 20px;
}
.img-para p {
  margin-top: 40px;
  font-size: 20px;
}
.mainProjectDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects img {
  width: 200px;
  height: 150px;
}
.projectClass figcaption {
  margin-left: 44px;
  margin-bottom: 20px;
}
.projects h1,
.skills h1,
.contacts h1 {
  padding-top: 20px;
  color: black;
}
ul {
  margin-left: 40%;
  margin-top: 3%;
}
li {
  padding: 10px;
  font-size: 20px;
}
.ContactsIcon img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}


.ContactsIcon {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
