.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 15px;
  }
  
  .number {
    font-size: 26px;
    font-weight: bold;
  }
  