.container {
  display: flex;
  height: 98vh;
  width: 200;
}

.quiz-section {
  width: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(50deg, transparent, #c40094, transparent);
  border-radius: 6px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #c40094;
  margin-bottom: 30px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background: #c40094;
  border-radius: 3px;
  padding: 7px;
}

.quiz-box .quiz-text {
  font-size: 24px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.option-list .option.correct {
  background: #09001d;
  border-color: #00a63d;
  color: #00a63d;
}

.option-list .option.incorrect {
  background: #09001d;
  border-color: #a60045;
  color: #a60045;
}

.option-list .option.disabled {
  pointer-events: none;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #c40094;
  padding-top: 20px;
  margin-top: 30px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  /* pointer-events: none; */
  transition: 0.5s;
}

.quiz-footer .next-btn.active:hover {
  background: #950170;
  border-color: #950170;
}

.quiz-footer .next-btn.active {
  color: #fff;
  background: #c40094;
  border-color: #c40094;
  pointer-events: auto;
}
