@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: #09001d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #09001d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

.main {
  background-color: #f7bfbf;
  transition: 0.3s ease;
  pointer-events: auto;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 6px white);
}

.navbar {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}
.navbar a {
  color: #fff;
  margin-left: 35px;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffff00;
}

.home {
  min-height: 100vh;
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  width: 100vh;
  width: 100%;
  display: flex;
  padding-top: 250px;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #09001d;
  text-align: center;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.home-content p {
  font-size: 17px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  padding: 10px 20px;
  border: 2px solid #fff;
  outline: none;
  border-radius: 10px;
  background-color: #09001d;
  box-shadow: 0 0 10px #36013f;
  transition: 0.5s;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #310239;
  box-shadow: none;
}

/* Styling of About section */

.about {
  padding: 50px 20px;
  color: #09001d;
  background-color: #f9f9f9;
}

.about-content {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.about-content .about-image {
  max-width: 600px; /* Adjust the width of the image as needed */
  margin-right: 20px; /* Add space between image and text */
}

.about-text {
  flex: 1; /* Allow the text to fill the remaining space */
}

.about-text h1 {
  font-size: 2.5rem;
  color: #36013f;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 1.8rem;
  color: #09001d;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #09001d;
  margin-bottom: 15px;
}

.about-text ul {
  list-style: none;
  padding-left: 0;
}

.about-text ul li {
  font-size: 1.2rem;
  color: #09001d;
  margin-bottom: 8px;
}

.about-text a {
  color: #007bff;
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
  color: #09001d;
}

/* Service section styling  */

.service {
  padding: 50px 20px;
  color: #09001d;
  background-color: #f9f9f9;
  text-align: center;
}

.service-content {
  max-width: 800px;
  margin: 0 auto;
}

.service h1 {
  font-size: 2.5rem;
  color: #36013f;
  margin-bottom: 40px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.service-icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.service-text {
  flex: 1;
  text-align: left;
}

.service-item h2 {
  font-size: 1.8rem;
  color: #09001d;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #09001d;
  margin-bottom: 15px;
}
.service-icon i {
  color: black;
}

/* Contact styling */
.contact-footer {
  background-color: #09001d;
  color: #fff;
  padding: 50px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  flex: 1;
}

.footer-contact-info,
.footer-social {
  flex: 1;
}

.footer-contact-info h3,
.footer-social h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #fff;
  font-size: 1rem;
}

/* Styling of popup-info */
.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background-color: white;
  border-radius: 6px;
  padding: 10px 25px;
  z-index: 1000; /* Increase z-index to ensure it's on top */
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: #c40094;
}

.popup-info .info {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: #c40094;
  color: white;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #950170;
  border-color: #950170;
}
